[Desktop Entry]
Name=Kibo Anime
Comment=Application for watching anime
Exec=kibo
Icon=kibo
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
